@mixin latest-posts-variables() {
	--latest-posts--title-font-family: var(--global--font-primary);
	--latest-posts--title-font-size: var(--heading--font-size-h4);
	--latest-posts--description-font-family: var(--global--font-secondary);
	--latest-posts--description-font-size: var(--global--font-size-sm);
}
