/* 
 * Style updates NOT using SASS, starting 8/2021 - Interlock Solutions
 */

/* added social media icons to the right side of the header area on desktop */
.social-navigation {
	width: 150px;
	position: absolute;
	right: 0;
	top: 30px;
}

li.MenuSocial {
	display: none !important;
}

@media screen and (max-width: 651px) {
	.social-navigation {
		display: none !important;
	}

	li.MenuSocial {
		display: block !important;
		margin-top: 10px;
	}
}

/* navigation padding fix between 900 and 651px */

@media screen and (max-width: 900px) and (min-width: 651px) {
	.primary-navigation .primary-menu-container > ul > .menu-item > a {
		padding-left: 12px !important;
		padding-right: 12px !important;
	}
}

/* print button icon on journal and news posts */

.entry-header .entry-meta .tags-links::after {
  content: "|";
  width: 10px;
  height: 10px;
  color: var(--global--color-secondary);
  padding-left: calc( 0.5 * var(--global--spacing-unit));
}

.PrintIcon .svg-icon {
	margin: 4px 0 0 !important;
}


/**************************************/
/*** Folios section 				***/
/**************************************/

@media only screen and (min-width: 652px) {
	.parent-folios .site-main > *:first-child {
		margin-top: calc(2 * var(--global--spacing-vertical));
	}
}

.folios-page-container {
	min-height: 600px;
}

.folios-page-container .folios-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: var(--global--spacing-vertical);
}

@media only screen and (min-width: 652px) {
	.folios-page-container .folios-grid {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: calc(2 * var(--global--spacing-horizontal));
		margin-top: calc(2 * var(--global--spacing-unit));
	}
}

.folios-page-container .folios-grid .folios-column ul {
	list-style-type: none;
	padding-left: 0;
}

.folios-page-container .folios-grid .folios-column ul > li {
	line-height: 28px;
	margin-bottom: 16px;
}

.folios-page-container .folios-grid .folios-column ul > li > img {
	display: none;
}

li.FolioParentTitle>a {
	display: inline-block;
	font-family: var(--heading--font-family);
	font-size: 24px;
	line-height: 33px;
	height: 36px;
}

/*li.FolioParentTitle>a:hover,*/
li.FolioParentTitle>a,
li.FolioParentTitle>a:focus,
li.FolioParentTitle>a:active {
	color: var(--global--color-foreground);
}

li.FolioParentTitle>a:hover {
	color: var(--wp--style--color--link, var(--global--color-primary));
}

ul.FolioArticleTitles {
	margin-left: 37px;
	padding-top: 10px;
}

li.folio-article-preview a {
	font-family: var(--entry-content--font-family);
}

/*li.folio-article-preview a:before {
	content: "•";
	color: #fff;
	font-size: 120%; 
	padding-right: 5px;
	vertical-align: middle;
}*/

/*li.folio-article-preview a:hover,
li.folio-article-preview a:active {
	color: #000;
}*/

/*li.folio-article-preview a:hover:before,
li.folio-article-preview a:active:before {
	color: #000;
}*/

.folios-page-container .folios-grid .folios-column.folio-preview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 800px;
}

.folios-page-container .folios-grid .folios-column.folio-preview {
	display: none;
}

.folios-page-container .folios-grid .folios-column #folio-work-preview {
	margin: 0 auto;
	width: 100%;
}

.folios-page-container .ArrowRight {
	padding: 0 0 0 20px;
	background: url('/wp-content/themes/ayintheme/assets/img/arrow-right.png') 0 10px no-repeat;
}

/*.folios-page-container a.ArrowRight:before {
		content: '>';
		font-size: 18px;
}*/

.folios-page-container .ArrowDown {
	padding: 0 0 0 20px;
	background: url('/wp-content/themes/ayintheme/assets/img/arrow-down.png') 0 10px no-repeat;
}

span.FolioDate {
	font-family: var(--global--font-primary);
	color: var(--global--color-foreground-low-contrast);
	font-size: var(--global--font-size-sm);
	line-height: var(--global--line-height-body);
}

.folios-page-container .folios-grid .folios-column #folio-work-title {
	font-family: var(--global--font-primary);
	font-style: italic;
	text-align: center;
	margin-top: 4px;
}

@media only screen and (min-width: 652px) {
	.folios-page-container .folios-grid .folios-column.folio-preview {
		display: block;
	}
}

/**********************************************/
/*** New Homepage layout - Book Launch			***/
/**********************************************/

.home.ColumnChildren.alignfull {
	max-width: 95% !important;
}

.HomeSecondCol {
	padding: 25px;
	border: var(--form--border-width) solid var(--form--border-color);
}

#text-3 .textwidget p {
	margin-bottom: 30px !important;
}

h2.FooterDonate,
h2.FooterDonate a {
	color: #fff;
}

h2.FooterDonate:hover,
h2.FooterDonate a:hover {
	color: var(--footer--color-link-hover);
}


/**************************************/
/*** New Columns articles  			***/
/**************************************/

/*** custom styles based on our new code ***/

.ColumnChild {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 32px;
}

h2.ColumnTitle {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height-h2);
	margin-top: calc( 0.666 * var(--global--spacing-vertical));
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical));
}

h2.ArticleTitle {
	font-size: 1.2em;
	margin: 0 0 0.25em;
}

a.PostGrid {
	display: block;
	max-width: 170px;
	line-height: var(--button--line-height);
	color: var(--button--color-text);
	cursor: pointer;
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	border-width: 0;
	text-decoration: none;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
	margin: 0 auto;
	text-align: center;
}

a.PostGrid:hover {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.PostGridSpacer {
	max-width: 720px;
	margin: 40px auto;
}

.PostGridSpacer:after {
	content: "";
	display: inline-block;
	height: 8px;
	width: 100%;
	background-image: url(/wp-content/themes/ayintheme/assets/img/diamond-border.svg);
	bottom: 0;
	left: 0;
}

@media only screen and (min-width: 482px) {
	h2.ColumnTitle {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

@media only screen and (min-width: 782px) {
	h2.ArticleTitle {
		font-size: 1.6em;
	}
}

@media screen and (max-width: 651px) {
	.ColumnChild {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 599px) {
	.ColumnChild {
		grid-template-columns: repeat(1, 1fr);
		column-gap: 25px;
	}
}

/*** copied and modified from main css file ***/
@media only screen and (min-width: 652px) {
	.ColumnChildren article {
		margin-bottom: calc(1.5 * var(--global--spacing-vertical));
	}
}

.ColumnChildren article .entry-wrapper p {
	font-size: var(--global--font-size-sm);
	margin-bottom: 0;
}

.ColumnChildren article .cat-links {
	margin-bottom: 0;
}

.ColumnChildren.wpnbha.is-grid article .cat-links a {
	color: var(--global--color-secondary);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-sm);
	font-weight: normal;
}

.ColumnChildren article .entry-title {
	font-weight: normal;
	margin-top: 0;
}

.ColumnChildren article .entry-title a {
	color: var(--global--color-black);
}

.ColumnChildren article .entry-title a:hover, 
.ColumnChildren article .entry-title a:focus, 
.ColumnChildren article .entry-title a:active {
	color: var(--global--color-primary);
}

.ColumnChildren article .entry-meta {
	font-family: var(--global--font-primary);
	margin-top: 0;
}

.ColumnChildren article .post-thumbnail {
	max-height: 380px;
	margin-bottom: var(--global--spacing-unit);
	overflow: hidden;
}


/**********************************************/
/*** New Homepage layout - 5 featured areas	***/
/**********************************************/

.HomeFlex1b .wp-block-column {
	display: grid;
	grid-template-columns: 66.66% 33.33%;
	grid-column-gap: 2em;
}

.HomeFlex1b .wp-block-column img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.HomeFlex1b .wp-block-column {
	display: flex;
}

.HomeFlex1b .wp-block-column .wp-block-image {
	margin:  0 !important;
}

.Image1 { 
	flex: 1.8947; 
}
.Image2 { 
	flex: .9485; 
}
