/* 
 * Style updates NOT using SASS, starting 8/2021 - Interlock Solutions
 */

.blocks-gallery-grid:not(.has-nested-images), .wp-block-gallery:not(.has-nested-images) {
	margin: 0 auto !important;
}

.HangingIndent {
	padding-left: 24px !important;
	text-indent: -24px !important;
}

.TabtoMiddle {
	padding-left: 150px !important;
}

.entry-content p.HangingIndent,
.entry-content p.TabtoMiddle {
	max-width: var(--responsive--aligndefault-width);
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-right: 24px !important;
}

.MobileOnly {
	display: none !important;
}

@media screen and (max-width: 480px) {
	.MobileOnly {
		display: block !important;
	}
}

/* added social media icons to the right side of the header area on desktop */
.social-navigation {
	width: 150px;
	position: absolute;
	right: 0;
	top: 30px;
}

li.MenuSocial {
	display: none !important;
}

@media screen and (max-width: 651px) {
	.social-navigation {
		display: none !important;
	}

	li.MenuSocial {
		display: block !important;
		margin-top: 10px;
	}
}

/* navigation padding fix between 900 and 651px */

@media screen and (max-width: 1279px) and (min-width: 850px) {
	.primary-navigation .primary-menu-container > ul > .menu-item > a {
		font-size: 16px !important;
		padding-left: 12px !important;
		padding-right: 12px !important;
	}
}

@media screen and (max-width: 849px) and (min-width: 652px) {
	.primary-navigation .primary-menu-container > ul > .menu-item > a {
		font-size: 14px !important;
		padding-left: 7px !important;
		padding-right: 7px !important;
	}
}

/* print button icon on journal and news posts */

.entry-header .entry-meta .cat-links::after {
	content: "";
	width: 0;
	height: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.entry-header .entry-meta .tags-links::after {
	content: "|";
	width: 10px;
	height: 10px;
	color: var(--global--color-secondary);
	padding-left: 0;
	padding-right: 0;
}

.print-button {
	white-space: nowrap;
}

.PrintIcon .svg-icon {
	margin: 4px 0 0 !important;
}

/* change category divider to pipe not comma */

ul.post-categories {
	list-style-type: none !important;
	padding: 0 !important;
}

ul.post-categories li {
	display: inline !important;
	border-right:  solid 1px var(--global--color-secondary) !important;
}

.entry-meta > span {
	display: inline !important;
	margin-right: 0;
}

.entry-meta > span > * {
	display: inline !important;
}

.cat-links,
.tags-links {
	color: var(--global--color-secondary);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-md);
	font-weight: var(--global--font-weight);
}

.cat-links li,
.tags-links a {
	padding-left: calc( 0.5 * var(--global--spacing-unit));
	padding-right: calc( 0.5 * var(--global--spacing-unit));
}

.cat-links li:first-child {
	padding-left: 0;
}

.print-button a {
	padding-left: calc( 0.5 * var(--global--spacing-unit));
}

/*.cat-links a:after {
	content: '|';
	width: 10px;
	height: 10px;
	color: var(--global--color-secondary);
	padding-left: calc( 0.5 * var(--global--spacing-unit));
}

.cat-links a:last-of-type:after {
	content: '';
	width: 0;
	height: 0;
}*/

/**************************************/
/*** Folios section 				***/
/**************************************/

@media only screen and (min-width: 652px) {
	.parent-folios .site-main > *:first-child {
		margin-top: calc(2 * var(--global--spacing-vertical));
	}
}

.folios-page-container {
	min-height: 700px;
}

.folios-page-container .folios-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: var(--global--spacing-vertical);
	min-height: 750px;
}

hr.AyinDivider {
	max-width: 720px;
	margin-top: calc(2 * var(--global--spacing-unit));
	border: none !important;
}

hr.AyinDivider:after {
	content: "";
	display: block;
	height: 8px;
	background-image: url(/wp-content/themes/ayintheme/assets/img/diamond-border.svg);
	bottom: 0;
	left: 0;
}

@media only screen and (min-width: 652px) {
	.folios-page-container .folios-grid {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: calc(2 * var(--global--spacing-horizontal));
		margin-top: calc(2 * var(--global--spacing-unit));
	}
}

.folios-page-container .folios-grid .folios-column ul {
	list-style-type: none;
	padding-left: 0;
}

.folios-page-container .folios-grid .folios-column ul > li {
	line-height: 28px;
	margin-bottom: 16px;
}

.folios-page-container .folios-grid .folios-column ul > li > img {
	display: none;
}

li.FolioParentTitle > div > a {
	font-family: var(--heading--font-family);
	font-size: 24px;
	line-height: 33px;
	height: 36px;
}

/*li.FolioParentTitle > div > a:hover,*/
li.FolioParentTitle > div > a,
li.FolioParentTitle > div > a:focus,
li.FolioParentTitle > div > a:active {
	color: var(--global--color-foreground);
}

li.FolioParentTitle > div > a:hover {
	color: var(--wp--style--color--link, var(--global--color-primary));
}

ul.FolioArticleTitles {
	margin-left: 20px;
	padding-top: 10px;
}

li.folio-article-preview {
	margin-left: 37px;
}

li.folio-article-preview a {
	font-family: var(--entry-content--font-family);
}

/*li.folio-article-preview a:before {
	content: "•";
	color: #fff;
	font-size: 120%; 
	padding-right: 5px;
	vertical-align: middle;
}*/

/*li.folio-article-preview a:hover,
li.folio-article-preview a:active {
	color: #000;
}*/

/*li.folio-article-preview a:hover:before,
li.folio-article-preview a:active:before {
	color: #000;
}*/

.folios-page-container .folios-grid .folios-column.folio-preview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 800px;
}

.folios-page-container .folios-grid .folios-column.folio-preview {
	display: none;
}

.folios-page-container .folios-grid .folios-column #folio-work-preview {
	margin: 0 auto;
	width: 100%;
}

.folios-page-container .ArrowRight {
	padding: 0 0 0 20px;
	background: url('/wp-content/themes/ayintheme/assets/img/arrow-right.png') 0 10px no-repeat;
}

/*.folios-page-container a.ArrowRight:before {
		content: '>';
		font-size: 18px;
}*/

.folios-page-container .ArrowDown {
	padding: 0 0 0 20px;
	background: url('/wp-content/themes/ayintheme/assets/img/arrow-down.png') 0 10px no-repeat;
}

span.FolioDate {
	font-family: var(--global--font-primary);
	color: var(--global--color-foreground-low-contrast);
	font-size: var(--global--font-size-sm);
	line-height: var(--global--line-height-body);
}

.folios-page-container .folios-grid .folios-column #folio-work-title {
	font-family: var(--global--font-primary);
	font-style: italic;
	text-align: center;
	margin-top: 4px;
}

.FolioFeaturedImg .image-caption {
	font-family: var(--global--font-primary);
	color: var(--global--color-foreground-low-contrast);
	font-size: var(--global--font-size-sm);
	line-height: var(--global--line-height-body);
	margin-top: calc(0.5 * var(--global--spacing-unit));
	margin-bottom: var(--global--spacing-unit);
	text-align: center;
}

.FolioCandD {
	margin-bottom: 12px;
}

.FolioCurators {
	font-family: BrownLL, Georgia, Times, serif;
	color: #333333;
	font-size: 15px;
	line-height: 22px;
	padding: 0;
}

.FolioDescription {
	font-family: BrownLL, Georgia, Times, serif;
	color: #868686;
	font-size: 15px;
	line-height: 22px;
	font-style: italic;
	padding: 0;
}

@media only screen and (min-width: 652px) {
	.folios-page-container .folios-grid .folios-column.folio-preview {
		display: block;
	}
}

@media only screen and (max-width: 651px) {
	hr.AyinDivider {
		margin-bottom: calc(2 * var(--global--spacing-unit));
	}
}

/**********************************************/
/*** New Homepage layout - Book Launch			***/
/**********************************************/

.home.ColumnChildren.alignfull {
	max-width: 95% !important;
}

.HomeShopCol {
	padding: 25px;
	border: var(--form--border-width) solid var(--form--border-color);
}

#text-3 .textwidget p {
	margin-bottom: 30px !important;
}

h2.FooterDonate,
h2.FooterDonate a {
	color: #fff;
}

h2.FooterDonate:hover,
h2.FooterDonate a:hover {
	color: var(--footer--color-link-hover);
}


/**************************************/
/*** New Columns articles & 				***/
/*** New Blog post grid - 1/17/22 	***/
/**************************************/

.archive-description p {
	margin-top: var(--global--spacing-vertical) !important;
	margin-bottom: var(--global--spacing-vertical) !important;
}

/*** custom styles based on our new code ***/

.PostsGridWrapper {
	margin-bottom: 50px !important;
}

.archive .PostsGridWrapper {
	padding-left: var(--global--spacing-unit);
	padding-right: var(--global--spacing-unit);
}

.archive .PostsGridWrapper.Four {
	max-width: 1800px;
	margin: 0 auto;
}

.archive .PostsGridWrapper.One,
.archive .PostsGridWrapper.Two,
.archive .PostsGridWrapper.Three {
	max-width: 1080px;
	margin: 0 auto;
}

.archive .PostsGridWrapper.One {
	max-width: 780px;
	margin: 0 auto;
}

.BlogGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}

.BlogGrid.Four {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 32px;
}

.BlogGrid.Three {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 32px;
}

.BlogGrid.Two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 32px;
}

.BlogGrid.One {
	display: grid;
	grid-template-columns: 1fr;
}

.ColumnChild {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 32px;
}

.BlogGrid article {
	flex-basis: 100%;
	margin-bottom: calc(.5 * var(--global--spacing-vertical));
}

.ColumnChildren article {
	margin-bottom: calc(1 * var(--global--spacing-vertical));
}

.ColumnChild .entry-wrapper,
.BlogGrid .entry-wrapper {
	margin-top: var(--global--spacing-unit);
}

.PostsGridTitle h2,
h2.ColumnTitle {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height-h2);
	margin-top: calc( 0.666 * var(--global--spacing-vertical));
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical));
}

h2.FolioTitle {
	font-size: var(--heading--font-size-h2);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height-h2);
	margin-top: calc( 0.666 * var(--global--spacing-vertical));
	margin-bottom: 0 !important;
}

span.FolioDate.Parent {
	display: block;
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical));
}

a.GridThumb {
	display: block;
	width: 100%;
	height: 300px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.BlogGridPost .entry-meta .cat-links a {
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-sm);
}

h2.ArticleTitle {
	font-size: 1.2em;
	margin: 0 0 0.25em;
}

a.PostGrid {
	display: block;
	max-width: 170px;
	line-height: var(--button--line-height);
	color: var(--button--color-text);
	cursor: pointer;
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	border-width: 0;
	text-decoration: none;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);
	margin: 0 auto;
	text-align: center;
}

a.PostGrid.Folios {
	max-width: 250px;
}

a.PostGrid:hover {
	color: var(--button--color-text-hover);
	background-color: var(--button--color-background-hover);
}

.PostGridSpacer {
	max-width: 720px;
	margin: 40px auto;
}

.PostGridSpacer:after {
	content: "";
	display: inline-block;
	height: 8px;
	width: 100%;
	background-image: url(/wp-content/themes/ayintheme/assets/img/diamond-border.svg);
	bottom: 0;
	left: 0;
}

p.FolioParentDescription,
p.FolioParentDescription img,
p.ColumnDescription,
p.ColumnDescription img {
	margin-bottom: 25px;
}

.AyinGridLoading {
	display: none;
	width: 100%;
	min-height: 300px;
	background: url('/wp-content/themes/ayintheme/assets/img/loading.gif') 50% 50% no-repeat;
}

.AyinMorePosts {
	flex-basis: 100%;
	clear: both;
	margin: 0;
	text-align: center;
}

button.AyinMorePostsButton {
	background: #efa182;
	font-family: BrownLL, Georgia, Times, serif;
	font-size: 20px;
	color: #fff;
	border: none;
	padding: 23px 25px;
}

button.AyinMorePostsButton:hover {
	background: #20a181;
}

/* hid temporarily while very few columns - now displaying */
/*.columns-grid a.PostGrid {
	display: none; 
}*/

.columns-grid a.PostGrid.Folios {
	display: block; /* display on Folios landing page */
}

@media only screen and (min-width: 482px) {
	.PostsGridTitle h2,
	h2.ColumnTitle {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

@media only screen and (min-width: 600px) {
	.BlogGrid article {
		flex-basis: calc(50% - 16px);
	}
}

@media only screen and (min-width: 769px) {
	.BlogGrid article {
		flex-basis: calc(33.3336% - 16px);
	}
}

@media only screen and (min-width: 900px) {
	.BlogGrid article {
		flex-basis: calc(25% - 16px);
	}
}

@media only screen and (min-width: 1200px) {
	.BlogGrid article {
		flex-basis: calc(20% - 16px);
	}

	h2.ArticleTitle {
		font-size: 1.6em;
	}
}

@media screen and (max-width: 651px) {
	.BlogGrid,
	.ColumnChild {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 599px) {
	.BlogGrid,
	.ColumnChild {
		grid-template-columns: repeat(1, 1fr);
		column-gap: 25px;
	}
}

/*** copied and modified from main css file ***/
@media only screen and (min-width: 652px) {
	.BlogGrid article,
	.ColumnChildren article {
		margin-bottom: calc(1.5 * var(--global--spacing-vertical));
	}
}

.BlogGrid article .entry-wrapper p,
.ColumnChildren article .entry-wrapper p {
	font-size: var(--global--font-size-sm);
	margin-bottom: 0;
}

.BlogGrid article .cat-links,
.ColumnChildren article .cat-links {
	margin-bottom: 0;
}

.ColumnChildren.wpnbha.is-grid article .cat-links a {
	color: var(--global--color-secondary);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-sm);
	font-weight: normal;
}

.BlogGrid article .entry-title,
.ColumnChildren article .entry-title {
	font-weight: normal;
	margin-top: 0;
}

.BlogGrid article .entry-title a,
.ColumnChildren article .entry-title a {
	color: var(--global--color-black);
}

.BlogGrid article .entry-title a:hover, 
.BlogGrid article .entry-title a:focus, 
.BlogGrid article .entry-title a:active,
.ColumnChildren article .entry-title a:hover, 
.ColumnChildren article .entry-title a:focus, 
.ColumnChildren article .entry-title a:active {
	color: var(--global--color-primary);
}

.archive article .entry-meta,
.BlogGrid article .entry-meta,
.ColumnChildren article .entry-meta {
	font-family: var(--global--font-primary);
	margin-top: 0;
}

.ColumnChildren article .post-thumbnail {
	max-height: 380px;
	margin-bottom: var(--global--spacing-unit);
	overflow: hidden;
}


/**********************************************/
/*** New Homepage layout - 5 featured areas	***/
/**********************************************/

/*.TempHide {
	display: none !important;
}

.HomeFlex1b .wp-block-column {
	display: grid;
	grid-template-columns: 66.66% 33.33%;
	grid-column-gap: 2em;
}

.HomeFlex1b .wp-block-column img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.HomeFlex1b .wp-block-column {
	display: flex;
}

.HomeFlex1b .wp-block-column .wp-block-image {
	margin:  0 !important;
}*/

.Image1 { 
	flex: 1.8947; 
}

.Image2 { 
	flex: .9485; 
}

.HomeShopCol h2.has-background {
	padding: 100px 20px !important;
}

.HomeShopCol h2.has-background,
.HomeShopCol h2.has-background a {
	white-space: nowrap !important;
}

.ShopSliderHome.wp-block-eedee-block-gutenslider.content-change{
	height: auto !important;
}

@media (max-width: 1023px) {
	.HomeFlex1.wp-block-columns {
		flex-direction: column !important;
	}

	.HomeFlex1.wp-block-columns .wp-block-column:not(:first-child) {
		margin-left: 0 !important;
	}

	.HomeFlex1.wp-block-columns .wp-block-column {
		flex-basis: 100% !important;
	}

	.HomeFlex1.wp-block-columns .Flex1Col1.wp-block-column,
	.HomeFlex2.wp-block-columns .Flex2Col1.wp-block-column,
	.HomeFlex2.wp-block-columns .Flex2Col2.wp-block-column {
		margin-bottom: 40px !important;
	}

	.Flex1BottomSep.wp-block-spacer {
		height: 20px !important;
	}
}

@media (min-width: 600px) and (max-width: 1023px) {
	.HomeFlex2 {
		flex-wrap: wrap !important;
		justify-content: space-between !important;
	}

	.HomeFlex2.wp-block-columns .wp-block-column:not(:first-child) {
		margin-left: 0 !important;
	}

	/*.HomeFlex2 .wp-block-column.Flex2Col1,
	.HomeFlex2 .wp-block-column.Flex2Col2 {
		flex: 1 0 50% !important;
		column-gap: 20px !important;
	}*/

	.HomeFlex2 .wp-block-column {
		flex: 1 0 100% !important;
	}
}



/**********************************************************/
/***  Gutenberg Grid, attempt to re-size - 				***/
/***  not using at this time 							***/
/**********************************************************/

.wpnbha .post-thumbnail img {
	height: auto;
	width: 100%;
	max-height: 12em;
	object-fit: cover;
}

@media (max-width: 1540px) {
	.wpnbha .post-thumbnail img {
		max-height: 10em;
	}
}

@media (max-width: 1150px) {
	.wpnbha .post-thumbnail img {
		max-height: 6em;
	}
}

/**********************************************************/
/***  ShopWP plugin 									***/
/**********************************************************/
h2.wps-products-title {
	font-size: 22px !important;
}

button.wps-add-to-cart {
	border-radius: 0 !important;
}

button.wps-add-to-cart:hover {
	background-color: #20a181;
	color: #fff;
}

.wpshopify-has-rendered {
	max-width: var(--responsive--alignwide-width) !important;
}



/**********************************************************/
/***  RTL posts 										***/
/**********************************************************/
/*.postid-3730 .entry-content p {
	direction: rtl !important;
}*/


/**********************************************************/
/***  Ayin Two TOC - Feb 2022 - Interlock Solutions		***/
/**********************************************************/

/*.journal-page-container .journal-grid .journal-column.AyinTwo ul {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

.journal-page-container .journal-grid .journal-column.AyinTwo ul > li {
	max-width: 100%;
	font-size: var(--heading--font-size-h4);
	letter-spacing: var(--heading--letter-spacing-h4);
	line-height: var(--heading--line-height-h4);
}*/

@font-face {
	font-family: Bagerich;
	src: url(/wp-content/themes/ayintheme/fonts/Bagerich.ttf);
}

.parent-ayin-two-holy-fool #JournalHeading h1,
.parent-ayin-two-holy-fool h4.editors-note a, 
li.journal-artist-preview.AyinTwo a,
.parent-ayin-two-holy-fool li.journal-artist-preview a {
	font-family: 'Bagerich', BrownLL, Georgia, Times, serif !important;
}

.journal-page-container.alignwide.AyinTwo {
	max-width: 1400px !important;
}

#JournalHeading {
	margin-top: calc(2 * var(--global--spacing-unit));
}

.journal-page-container.AyinTwo {
	min-height: 970px;
}

.journal-page-container.AyinTwo .journal-grid {
	grid-template-columns: 340px minmax(200px, 515px) 340px;
	margin-top: 40px;
	grid-column-gap: 100px;
}

.journal-page-container .journal-grid .journal-column.journal-preview {
	justify-content: flex-start;
}

.journal-page-container.AyinTwo .journal-grid .journal-column img#journal-work-preview {
	width: auto;
	max-height: 600px;
}

.journal-page-container.AyinTwo .journal-grid .journal-column1 ul,
.journal-page-container.AyinTwo .journal-grid .journal-column2 ul {
	list-style-type: none;
	padding-left: 0;
}

.journal-page-container .journal-grid .journal-column1 ul > li,
.journal-page-container .journal-grid .journal-column2 ul > li {
	line-height: 1.3;
	margin-bottom: 16px;
	max-width: 340px;
	break-inside: avoid;
}

.journal-page-container.AyinTwo .journal-grid .journal-column1 ul > li > img,
.journal-page-container.AyinTwo .journal-grid .journal-column2 ul > li > img {
	display: none;
}

@media only screen and (min-width: 652px) {
	.primary-navigation div > ul > li > .sub-menu {
		top: 56px !important;
		border: 0 !important;
		box-shadow: 0 0 10px rgb(0 0 0 / 15%) !important;
	}

	.primary-navigation div > ul > li > .sub-menu li {
		border-bottom: 1px solid var(--global--color-border) !important;
	}

	.primary-navigation .sub-menu > .menu-item.menu-item-has-children, .woo-navigation .sub-menu > .menu-item.menu-item-has-children {
			padding: 0 !important;
	}
}

@media only screen and (min-width: 1080px) {
	.primary-navigation div > ul > li > .sub-menu {
		top: 62px !important;
	}
}

@media only screen and (max-width: 1440px) {
	.journal-page-container.alignwide.AyinTwo {
		max-width: 90% !important;
	}

	.journal-page-container.AyinTwo .journal-grid {
		grid-column-gap: 5%;
	}
}

@media only screen and (max-width: 1100px) {
	.journal-page-container.AyinTwo .journal-grid {
		grid-template-columns: 170px minmax(200px, 515px) 170px;
	}

	.journal-page-container .journal-grid .journal-column1 ul > li,
	.journal-page-container .journal-grid .journal-column2 ul > li {
		max-width: 170px;
	}
}

@media only screen and (max-width: 651px) {
	.journal-page-container.AyinTwo {
		min-height: 550px;
	}

	.journal-page-container.AyinTwo .journal-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10%;
	}

	.journal-page-container .journal-grid .journal-column1 ul > li,
	.journal-page-container .journal-grid .journal-column2 ul > li {
		max-width: 100%;
	}

	#ayin-two-journal-preview,
	#journal-work-title {
		display: none;
	}
}

/**************************************************************/
/***  New Folios layout - Sept 2022 - Interlock Solutions 	***/
/**************************************************************/

@media only screen and (min-width: 482px){
	.archive h1 {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}
}

@media only screen and (min-width: 652px) {
	.archive .site-main > *:first-child {
		margin-top: calc(2 * var(--global--spacing-vertical));
	}
}

.site-main {
	padding-top: var(--global--spacing-vertical);
	padding-bottom: var(--global--spacing-vertical);
}

.archive h1 {
	margin-top: calc( 0.666 * var(--global--spacing-vertical));
	margin-bottom: calc( 0.666 * var(--global--spacing-vertical));
}

.archive .folios-page-container>p>img {
	margin-bottom: 25px;
}

.archive .folios-page-container .folios-grid .folios-column ul {
	margin-left: 0;
}

.archive li.folio-article-preview {
	margin-left: 0;
}


/**********************************************************/
/***  Ayin Three TOC - Nov 2022 - Interlock Solutions	***/
/**********************************************************/

.journal-page-container .Lineages.journal-grid {
	grid-template-columns: minmax(250px, 500px);
	justify-content: center;
}

@media only screen and (min-width: 652px) {
	.journal-page-container .Lineages.journal-grid {
		grid-template-columns: minmax(250px, 500px);
		justify-content: center;
	}
}

.journal-page-container.AyinThree .journal-grid .journal-column.journal-preview  {
	min-height: 700px;
	justify-content: center;
}

.journal-page-container .Lineages.journal-grid .journal-column ul {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

.journal-page-container .journal-grid .journal-column ul > li {
	max-width: 500px;
}


/**************************************/
/*** Archives 						***/
/**************************************/

:root {
	--primary-nav--font-size-mobile: var(--global--font-size-xl);
}