.wp-block-eedee-block-gutenslider {
	.slick-slide img {
		object-fit: contain !important; // Do not crop the art
	}

	.slick-track {
		background-color: black;
	}
}

.wp-block-eedee-block-gutenslider {
	.eedee-background-div img {
		object-fit: contain !important; // Do not crop the art
		background: #000;
	}

.wp-block-eedee-block-gutenslider .wp-block-eedee-block-gutenslide .slide-content p.SlideQuote {
	color: var(--global--color-primary);
	font-family: var(--pullquote--font-family);
	font-size: var(--pullquote--font-size);
	font-style: var(--pullquote--font-style);
	font-weight: bold;
	letter-spacing: var(--pullquote--letter-spacing);
	line-height: var(--pullquote--line-height);
}