.wp-block-eedee-block-gutenslider {
	.slick-slide img {
		object-fit: contain !important; // Do not crop the art
	}

	.slick-track {
		background-color: black;
	}
}

.wp-block-eedee-block-gutenslider {
	.eedee-background-div img {
		object-fit: contain !important; // Do not crop the art
		background: #000;
	}
}