.entry-meta,
.entry-footer {

	color: var(--entry-meta--color);
	clear: both;
	float: none;
	font-size: var(--entry-meta--font-size);
	display: block;

	> span {
		display: inline-block;
		margin-right: calc(0.5 * var(--global--spacing-unit));

		& > *,
		span .fn {
			display: inline-block;
		}

		&:last-child {
			margin-right: 0;
		}

		.published + .updated {
			display: none; // Hide updated date?
		}
	}

	a {
		border-color: transparent;
		color: var(--entry-meta--color-link);

		&:hover,
		&:focus {
			color: var(--entry-meta--color-hover);
		}

		&:hover {
			border-color: var(--global--color-secondary);
		}

		&:focus {
			color: var(--global--color-secondary);
		}

		&:active {
			color: var(--entry-meta--color-link);
		}
	}

	.svg-icon {
		fill: currentColor;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-right: calc(0.25 * var(--global--spacing-unit));
	}
}

// Extra specificity to override rules in _vertical-margins.scss
.site-main > article > .entry-footer {
	margin-top: calc( var(--global--spacing-vertical) * 3 );
	padding-top: var(--global--spacing-unit);
	border-top: var(--separator--height) solid var(--separator--border-color);
}

// Override styles for the header
.entry-header .entry-meta {
	margin-bottom: 0;
	// padding-left: 5px;

	.cat-links {
		&::after{
			content: "|";
			width: 10px;
			height:10px;
			color: var(--global--color-secondary);
			padding-left: calc( 0.5 * var(--global--spacing-unit));
		}			
	}

	a {
		color: var(--global--color-secondary);
		font-family: var(--global--font-secondary);
		font-size: var(--global--font-size-md);

		&:hover,
		&:focus {
			color: var(--global--color-primary);
		}

		&:focus {
			color: var(--global--color-primary);
		}

		&:active {
			color: var(--global--color-primary);
		}
	}
}