$nav_height: 162px;
$button_width: -66px;
$toc_width: -260px;

#journal-toc {
	background: var(--global--color-background);
	border-left: 1px solid var(--global--color-border);
	display: grid;
	grid-template-columns: 36px 1fr;
	height: calc(100vh - #{$nav_height});
	position: fixed;
	left: 100vw;
	top: $nav_height;
	transition: .25s all;
	transform: translateX( $button_width );
	width: fit-content;
	z-index: 99;

	&.open {
		transform: translateX( $toc_width );
	}

	#toggle-toc {
		border: none;
		border-right: 1px solid var(--global--border-color);
		background: transparent;
		padding: 24px;

		span {
			transform: rotateZ(-90deg);
			display: block;
			width: 190px;
			margin-left: -90px;
		}

	}

	ul {
		font-family: var(--global--font-primary);
		list-style-type: none;
		padding: calc(var(--global--spacing-horizontal));
		padding-top: calc(3 * var(--global--spacing-vertical));
	}
}