$nav_height: 162px;
$button_width: -66px;
$toc_width: -400px;

#journal-toc {
	background: var(--global--color-background);
	display: grid;
	grid-template-columns: 48px 1fr;
	height: calc(100vh - #{$nav_height});
	position: fixed;
	left: 100vw;
	min-width: 400px;
	top: $nav_height;
	transition: .25s all;
	transform: translateX( $button_width );
	width: fit-content;
	z-index: 99;

	&.open {
		transform: translateX( $toc_width );
	}

	#toggle-toc {
		border: none;
		border-right: 1px solid var(--global--border-color);
		background: var(--global--color-tertiary);
		width: 54px;
		padding: 24px;

		span {
			transform: rotateZ(-90deg);
			display: block;
			width: 190px;
			margin-left: -90px;
		}

	}

	> div {
		padding: calc( 1.5 * var(--global--spacing-horizontal));
		padding-top: calc(3 * var(--global--spacing-vertical));
		font-size: var(--global--font-size-lg);
		ul {
			font-family: var(--global--font-primary);
			font-weight: 100;
			font-size: var(--global--font-size-md);
			list-style-type: none;
			padding: 0;
		}
	}

}