.sticky {

}

.sticky-post {
	color: var(--global--color-background);
	background-color: var(--global--color-secondary);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-xs);
	line-height: 1;
	padding: calc(0.25 * var(--global--spacing-unit)) calc(0.33 * var(--global--spacing-unit));
}

.updated:not(.published) {

}

.entry {
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	animation: .5s ease-out 0s 1 fadeIn;
}
